.converter {
  place-self: center;

  width: 100%;
  max-width: rem(780);

  &__head {
    //--caption-margin: #{15vh 0 $gutterX3};

    text-align: center;
  }

  &__main {
    @extend %card;
    @extend %card-hover-animation;

    height: max-content;
  }

  &__form {
    display: grid;
    gap: $gutterX2;

    flex: 1 1;
  }

  &__table {
    display: grid;
    flex: 1 1 100%;
    grid-gap: rem(5);
  }

  &__table-item {
    display: inline-grid;
    grid-template-columns: rem(80) 1fr 1fr;
    padding: rem(8) rem(8);

    font-size: rem(14);

    border-bottom: rem(1) solid $light;

    span {
      text-align: right;
    }

    &.--head {
      font-weight: 300;
      font-size: rem(12);
      opacity: 0.8;
    }
  }

  &__foot {
    --link-color: #{$primary-dark};

    display: flex;
    flex-flow: column;
    align-items: center;

    margin: $gutterX3 auto;

    font-weight: 600;
    font-size: rem(18);
    text-align: center;

    svg {
      width: rem(96);
      margin: $gutterX2 0 0;

      fill: currentColor;


      transition: $transition-default;
      transition-property: color, transform;

      @include only-mouse {
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  @include min-wide(tablet) {
    &__form {
      & > * {
        &:nth-child(1) {
          grid-area: 1/1/1;
        }

        &:nth-child(1) {
          //grid-area: 2/2/2;
        }

        &:nth-child(2) {
          //grid-area: 2/2/1;
        }

        &:nth-child(3) {
          //grid-area: 2/2 span;
        }
      }
    }
  }

  @include max-wide(phones) {
    --card-gutter-y: #{rem(32)};
    --card-gutter-x: #{rem(32)};
  }
}
