.footer {
  display: flex;
  align-items: center;
  gap: $gutterX3;

  padding: $gutterX3 var(--container-gutter) $gutterX2;

  &__img {
    width: var(--footer-picture-size, rem(68));
    max-width: rem(200);
    aspect-ratio: 1/1;

    border-radius: 50%;
    box-shadow: $sh-card-primary;

    overflow: hidden;
  }

  &__menu {
    display: inline-flex;
    flex: 1 1;
    gap: rem(20);
    align-items: center;

    font-size: rem(14);
    font-weight: bold;
  }

  &__copy {
    font-size: rem(12);
    opacity: 0.6;
  }

  @include max-wide(tablet) {
    --footer-picture-size: #{35vw};

    flex-flow: column;
    text-align: right;

    border-top: rem(1) solid $primary-dark;
  }
}
