// SEO meta descriptions variables
-
    var
            META_TITLE = 'Currency Converter',
            META_DESCRIPTION = 'justtwic.art',
            META_KEYWORDS = 'justtwic.art',

            META_CREATOR = 'Pashchuk Ilya',
            META_SITE_NAME = hostLink,
            META_LOCALE = language
