-
  var
          sourcePathJS = path + 'js/main.js',
          sourcePathSCSS = path + 'scss/style.scss',

          assetsImgPath = path + "assets/images/",
          faviconDir = assetsImgPath + 'favicon/',
          faviconShow = false,
          seoDir = path + 'assets/seo/',

          faviconDir = path + 'assets/images/favicon/',

          canonicalLink = hostLink,

          hostLink = 'https://currency-evergreen.justtwic.art',

          posterImage = hostLink + '/poster.webp',
          posterImageWidth = '1200',
          posterImageHeight = '630',

          language = 'en'

          routes = {
            home: '/'
          },

          // Google Analytics
          googleAnalytics = false,
          googleAnalyticsID = '';
