header.header
  .header__logo
    | evergreens

  .header__right
    nav.header__menu.gm-hide
      button.header__menu-close(type="button")
      a.header__link(href='https://evergreens.com.ua/team/about_us.html' target='_blank') About
      a.header__link(href='https://evergreens.com.ua/#nh-services' target='_blank') Services
      a.header__link(href='https://evergreens.com.ua/contacts.html' target='_blank') Contacts

    a.button(href='https://evergreens.com.ua/contacts.html' target='_blank') Let’s talk

    button.header__btn-menu
      span
      span
