%loading-transition {
  filter: blur(var(--layout-blur, 0));
  transition: $loading-transition-property $loading-transition-duration $loading-transition-function;
  will-change: $loading-transition-property;
}

%root-loading {
  @at-root html[loading] & {
    @extend %loading-transition;
  }
}

%scroll-outside-fill {
  @include max-wide(tablet) {
    &:before {
      position: absolute;
      inset: var(--scroll-outside-fill-inset, auto 0 0 0);
      z-index: -1;

      content: '';

      box-shadow: 0 0 10vmax rem(88) $secondary-dark;
      opacity: 0.7;
    }
  }
}

%card {
  @extend %text-large-title;

  --p-font-size: none;
  --p-line-height: none;

  display: flex;
  flex-flow: row wrap;

  //min-height: rem(450);
  height: 100%;

  padding: var(--card-gutter-y, rem(48)) var(--card-gutter-x, rem(48));

  border-radius: $radiusLarge;
  background-color: #fff;
  box-shadow: $sh-card-secondary;

  @include only-mouse {
    transform-origin: top center;
    transform: $card-scale;
    transition: $card-transition;
  }
}

%card-hover-animation {
  @include only-mouse {
    &:hover {
      --card-scale: var(--card-scale-hover, 1.01);
    }
  }
}

%vertical-text {
  text-orientation: mixed;
  writing-mode: vertical-lr;
}

%container {
  padding: var(--container-top) var(--container-x);
}

%form-element {
  display: inline-flex;
  place-items: center;
  width: 100%;
  min-height: rem(36);

  padding: 0 $gutter;

  font-size: rem(16);

  border: rem(1.5) solid $secondary;;
  border-radius: $radiusSmall;

  @include only-mouse {

    &:hover, &:focus {
      border-color: $primary-dark;
    }
  }
}

%h1 {
  font-size: var(--h1-size, rem(48));
  line-height: 1.18;
  font-weight: var(--h1-weight, 700);
}

%h2 {
  font-size: var(--h2-size, rem(38));
  font-weight: var(--h2-weight, 700);
}

%h3 {
  font-size: var(--h3-size, rem(32));
  font-weight: var(--h3-weight, 800);
}

%h4 {
  font-size: var(--h4-size, rem(28));
  font-weight: bold;
}

%h5 {
  font-size: var(--h5-size, rem(24));
  font-weight: bold;
}

%h6 {
  font-size: var(--h6-size, rem(20));
  font-weight: bold;
}

%text-large-title {
  font-size: rem(22);
  font-weight: 600;
}

%text-large {
  font-size: rem(20);
  font-weight: 500;
}

%text-normal {
  font-size: rem(16);
}

%text-small {
  font-size: rem(14);
}

%text-hard-small {
  font-size: rem(12);
}
