extends ../includes/root.pug

block content

  main.layout
    .container

      section.converter
        header.converter__head
          h1.caption Currency Converter

        article.converter__main
            form.converter__form(name='converter-form', action="somewhere", enctype="multipart/form-data")
              fieldset.converter__form-group
                .input(class="--prefix", data-input-prefix="₴")
                  label(for='currency-base') Base Currency
                  input(id='currency-base', name='currency-base', type='number', min='1', value='1.00')

                .input(class='--select')
                  label(for="currency-receive") Exchange to
                    .switcher
                      input(type='checkbox', name="currency-type")
                      span sale
                      span purchase
                  .input__group
                    input(id='currency-receive', name="currency-receive", type='number', min='0.01', disabled)
                    select.select(id='currency-rates', name='currency-rates')
                  mark.input__msg(data-course-ratio)

              fieldset.converter__form-group
                .input(class='--date')
                  label(for="currency-date") Exchange rate as of
                  input(
                    type="date"
                    id="currency-date"
                    name="currency-date")
