.input {
  display: inline-flex;
  flex-flow: column;
  gap: rem(8);
  justify-content: center;

  height: fit-content;

  &__group {
    display: inline-flex;
  }

  label {
    padding: 0 0 0 rem(8);
    font-size: rem(12);
    font-weight: bold;
  }

  input {
    min-width: rem(150);

    @extend %form-element;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }

    @include placeholder {
      font-weight: 600;
      opacity: 0.5;
    }
  }

  &.--select {
    input {
      border-radius: $radiusSmall 0 0 $radiusSmall;
      border-right: unset;

    }

    select {
      width: auto;
      border-radius: 0 $radiusSmall $radiusSmall 0;
      //border-left: unset;

      padding: 0 $gutter;

      font-size: rem(12);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.section {
  @extend %form-element;
}

